attendiq.tadstech.dev {
	root * /var/www/attendiq/frontend
	file_server

	try_files {path} /index.html

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

	encode gzip
}

attendiq-api.tadstech.dev {
	reverse_proxy localhost:8000

	request_body {
		max_size 50MB
	}

	header {
		Access-Control-Allow-Origin https://attendiq.tadstech.dev
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization"
		Access-Control-Allow-Credentials true
	}

	@options method OPTIONS
	handle @options {
	.respond 204
	}

	encode gzip
}
